.carousel-inner{
    width: 75rem;
    height: 35rem;
}
.textCenter{
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 10px;
}
.card-body{
    width: 40rem;
    background-color: white;
}
.sectionNews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 40.1rem;
}
.borderImg{
    width: 75rem;
    height: 35rem;
}
.borderImgLG{
    width: 40rem;
    height: 20rem;
}
.textRigth{
    margin: 1rem;
    width: 40rem;
}
.sectionLastgames{
    div{
        display: flex;
        justify-content: space-around;
    }
}