$width-img-text: 40rem;

.carousel-inner{
    width: 75rem;
    height: 35rem;
}
.textCenter{
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 10px;
}
.card-body{
    width: $width-img-text;
    background-color: white;
}
.sectionNews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: $width-img-text;
    transition: transform 1.5s;
    &:hover{
        transform: scale(1.06);
    }
}
.borderImg{
    width: 75rem;
    height: 35rem;
}
.borderImgLG{
    width: $width-img-text;
    height: 20rem;
}
.textRigth{
    margin: 1rem;
    width: $width-img-text;
}
.sectionLastgames{
    div{
        display: flex;
        justify-content: space-around;
    }
}
.hudBar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    div{
        display: flex;
            justify-content: center;
            width: 800px;
            height: 500px;
        a{
            display: flex;
            justify-content: center;
            width: 800px;
            height: 500px;
                img{
                    width: 0px;
                    flex-grow: 1;
                    object-fit: cover;
                    opacity: .8;
                    transition: 0.5s ease;
                    &:hover{
                            width: 300px;
                            opacity: 1;
                            filter: contrast(120%);
                            
                    }
                }
        }
    }
}
.marginTitle{
    margin-top: 10px;
}