@media screen and (max-width:1200px) {
    .liContainer{
        width: 100%;
    }
    .carousel-inner{
        width: 50rem;
        height: 25rem;
    }
    .borderImg{
        width: 50rem;
        height: 25rem;
    }
}
@media screen and (max-width:992px){
    .carousel-inner{
        width: 40rem;
        height: 20rem;
    }
    .borderImg{
        width: 40rem;
        height: 20rem;
    }
    .borderImgLG{
        width: 40rem;
        height: 20rem;
    }
    .card-body{
        width: 40rem;
    }
    .sectionFlex{
        img{
            width: 35rem;
            height: 17rem;
        }
        p{
            width: 35rem;
        }
    }
    iframe{
        width: 35rem;
    }
}
@media screen and (max-width:768px) {
    .navDesktop{
        display: none;
    }
    .navMobile{
        display: block;
        background-image: url(../img/36779.jpg);
        div{
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .carousel-inner{
        width: 30rem;
        height: 15rem;
    }
    .borderImg{
        width: 30rem;
        height: 15rem;
    }
    .borderImgLG{
        width: 30rem;
        height: 15rem;
    }
    .card{
        width: 30.1rem;
    }
    .card-body{
        width: 30rem;
    }
}
@media screen and (max-width:576px) {
    .carousel-inner{
        width: 25rem;
        height: 13rem;
    }
    .borderImg{
        width: 25rem;
        height: 13rem;
    }
    .borderImgLG{
        width: 25rem;
        height: 13rem;
    }
    .card{
        width: 25.1rem;
    }
    .card-body{
        width: 25rem;
    }
    .sectionFlex{
        img{
            width: 20rem;
            height: 10rem;
        }
        p{
            width: 20rem;
        }
    }
    iframe{
        width: 20rem;
    }
}