$width-img-text-992px: 40rem;
$height-img-text-992px: 20rem;
$width-img-text-768px: 30rem;
$height-img-text-768px: 15rem;

@media screen and (max-width:1200px) {
    .liContainer{
        width: 100%;
    }
    .carousel-inner{
        width: 50rem;
        height: 25rem;
    }
    .borderImg{
        width: 50rem;
        height: 25rem;
    }
}
@media screen and (max-width:992px){
    .carousel-inner{
        width: $width-img-text-992px;
        height: $height-img-text-992px;
    }
    .borderImg{
        width: $width-img-text-992px;
        height: $height-img-text-992px;
    }
    .borderImgLG{
        width: $width-img-text-992px;
        height: $height-img-text-992px;
    }
    .card-body{
        width: $width-img-text-992px;
    }
    .sectionFlex{
        img{
            width: 35rem;
            height: 17rem;
        }
        p{
            width: 35rem;
        }
    }
    iframe{
        width: 35rem;
    }
    .hudBar{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        div{
            display: flex;
                justify-content: center;
                width: 600px;
                height: 300px;
            a{
                display: flex;
                justify-content: center;
                width: 600px;
                height: 300px;
                    img{
                        width: 0px;
                        flex-grow: 1;
                        object-fit: cover;
                        opacity: .8;
                        transition: 0.5s ease;
                        &:hover{
                                width: 200px;
                                opacity: 1;
                                filter: contrast(120%);
                                
                        }
                    }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .navDesktop{
        display: none;
    }
    .navMobile{
        display: block;
        background-image: url(../img/36779.jpg);
        div{
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .carousel-inner{
        width: $width-img-text-768px;
        height: $height-img-text-768px;
    }
    .borderImg{
        width: $width-img-text-768px;
        height: $height-img-text-768px;
    }
    .borderImgLG{
        width: $width-img-text-768px;
        height: $height-img-text-768px;
    }
    .card{
        width: 30.1rem;
    }
    .card-body{
        width: $width-img-text-768px;
    }
    .hudBar{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        div{
            display: flex;
                justify-content: center;
                width: 400px;
                height: 250px;
            a{
                display: flex;
                justify-content: center;
                width: 400px;
                height: 250px;
                    img{
                        width: 0px;
                        flex-grow: 1;
                        object-fit: cover;
                        opacity: .8;
                        transition: 0.5s ease;
                        &:hover{
                                width: 150px;
                                opacity: 1;
                                filter: contrast(120%);
                                
                        }
                    }
            }
        }
    }
}
@media screen and (max-width:576px) {
    .carousel-inner{
        width: 25rem;
        height: 13rem;
    }
    .borderImg{
        width: 25rem;
        height: 13rem;
    }
    .borderImgLG{
        width: 25rem;
        height: 13rem;
    }
    .card{
        width: 25.1rem;
    }
    .card-body{
        width: 25rem;
    }
    .sectionFlex{
        img{
            width: 20rem;
            height: 10rem;
        }
        p{
            width: 20rem;
        }
    }
    iframe{
        width: 20rem;
    }
}